<!DOCTYPE html>

<html>

  <head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<title>{{ page.title }}</title>
	    <script src="{{site.baseurl}}/bbjs/babylon/babylon.2.2.max.js"></script>
	    <style>
	        html, body {
	            overflow: hidden;
	            width: 100%;
	            height: 100%;
	            margin: 0;
	            padding: 0;
	        }

	        #renderCanvas {
	            width: 100%;
	            height: 100%;
	            touch-action: none;
	        }
	    </style>
  </head>

  <body>
 
	<canvas id="renderCanvas"></canvas>
	
	{{ content }}
  
  </body>

</html>





